/* Frame11 */
html,
    body {
        padding: 0;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    }

* {
    box-sizing: border-box;
}

main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-left: 0.5rem;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-vstart-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-hcenter {
  justify-content: center;
}

.flex-row-vend-hstart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-row-vcenter-hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frame-11 {
  position: relative;
  background-color: rgba(17, 108, 255, 1);
  border: 1px solid rgba(196, 196, 196, 1);
  box-sizing: border-box;
  width: 1366px;
  height: 728px;
}

.rectangle-13 {
  position: absolute;
  top: 166px;
  left: 748px;
  background-color: rgba(255, 255, 255, 1);
  width: 423px;
  height: 395px;
  border-radius: 20px;
}

.dizzy-education-1 {
  position: absolute;
  top: 160px;
  left: 634px;
  width: 632px;
  height: 386.5px;
}

.group-38 {
  position: absolute;
  top: 204px;
  left: 100px;
  width: 513px;
  height: 325px;
}

.group-36 {
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 100%;
}

.frame-24 {
  margin-bottom: 16px;
  box-sizing: border-box;
  height: 161px;
  width: 100%;
}

.txt-765 {
  font-size: 50px;
  font-family: Inter, sans-serif;
  font-weight: 800;
  line-height: 160%;
  color: rgba(255, 255, 255, 1);
  width: 523px;
  height: 162px;
  word-wrap: break-word;
}

.txt-611 {
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 180%;
  color: rgba(255, 255, 255, 1);
  width: 404px;
  word-wrap: break-word;
}

.group-37 {
  width: fit-content;
}

.group-17 {
  padding: 14px 35px 11px 37px;
  margin-right: 24px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 200px;
  height: 100%;
}

.txt-229 {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  color: rgba(17, 108, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.group-18 {
  padding: 14px 43px 11px 45px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 200px;
  height: 100%;
}

.txt-345 {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.group-781 {
  position: absolute;
  top: 40px;
  none: 0px;
  width: 1166px;
  height: 39px;
}

.group-35 {
  padding: 0px 0.32px 0px 0px;
  margin-right: 174px;
  box-sizing: border-box;
  width: 129.32px;
  height: fit-content;
}

.frame-32 {
  padding: 0px 3.97px 0px 0px;
  box-sizing: border-box;
  background-color: rgba(0, 35, 92, 1);
  height: 100%;
}

.group-236 {
  padding: 10px 7px 8px 10px;
  margin-right: 9px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  width: 36px;
  height: 100%;
}

.txt-295 {
  font-size: 22.55px;
  font-family: Inter, sans-serif;
  font-weight: 800;
  line-height: 78%;
  letter-spacing: 0.45px;
  color: rgba(0, 35, 92, 1);
  word-wrap: break-word;
}

.txt-080 {
  font-size: 12.69px;
  font-family: Inter, sans-serif;
  font-weight: 800;
  line-height: 139%;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.frame-1 {
  margin-right: 198px;
  box-sizing: border-box;
  height: 100%;
}

.frame-18 {
  padding: 9px;
  margin-right: 72px;
  box-sizing: border-box;
  height: 100%;
}

.txt-854 {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-18 {
  padding: 9px;
  margin-right: 72px;
  box-sizing: border-box;
  height: 100%;
}

.txt-8104 {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-21 {
  padding: 9px;
  box-sizing: border-box;
  height: 100%;
}

.txt-8104 {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-181 {
  height: 100%;
}

.frame-19 {
  padding: 9px 29px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
}

.txt-191 {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  color: rgba(17, 108, 255, 1);
  text-align: center;
  word-wrap: break-word;
}

.frame-26 {
  position: absolute;
  top: 131px;
  left: 1003px;
  border-radius: 20px;
  background-color: rgba(255, 207, 45, 1);
  width: 263px;
  height: 60px;
}

.txt-206 {
  position: absolute;
  top: 18px;
  left: 21px;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  color: rgba(0, 35, 92, 1);
  text-align: center;
  width: 221px;
  height: 24px;
  word-wrap: break-word;
}

.polygon-5 {
  position: absolute;
  top: 21px;
  left: -8px;
  width: 15px;
  height: 17.32px;
}

.group-71 {
  position: absolute;
  top: 525px;
  left: 609px;
  width: 276.32px;
  height: 60px;
}

.frame-25 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 17px 67px 16px 19px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgba(231, 240, 255, 1);
  width: 263px;
  height: 100%;
}

.txt-764 {
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  color: rgba(0, 35, 92, 1);
  text-align: center;
  word-wrap: break-word;
}

.polygon-51 {
  position: absolute;
  top: 11px;
  left: 258px;
  width: 15px;
  height: 17.32px;
}

.pablita-element-12 {
  position: absolute;
  top: 158px;
  left: 730px;
  width: 34px;
  height: 32.76px;
}

.pablita-element-11 {
  position: absolute;
  top: 544px;
  left: 1144px;
  width: 34px;
  height: 32.76px;
}
